{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <style type="text/css">
        .important { color: #336699; }
        .error {background-color: #f2dede;}
        .table {border: 1px;}
        .table thead tr th {text-align: center;}
        button {
            background-color: transparent;
            border: none;
            padding: 0;
            margin-left: 10px;
        }
        .tog {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="starter-template">
        <table class="table">
            <thead>
                <tr>
                    <th>Event Name</th>
                </tr>
            </thead>
            {% set features = 'dsfsdf' %}
                                
            {% if entries.predictions == 1%}
                <tr class='error'>
                    <td> Fraudster <button class='glyphicon glyphicon-circle-arrow-down'></button> <p class='tog'>print features</p></td>
                </tr>
            {% else %}
                <tr class='success'>
                    <td> Bona Fide <button class='glyphicon glyphicon-circle-arrow-down'></button> <p class='tog'></p></td>
                </tr>
            {% endif %}
        </table>
    </div>
    <script>
        $( "button" ).click(function() {
            $( "p" ).toggle();
        });
    </script>
{% endblock %}
